$color_default_dark: #1E1E1E;
$color_default_light: #FFFFFF;
$color_default_medium: rgba(30, 30, 30, 0.55);

$color_primary_dark: #F37528;
$color_primary_medium: rgba(243, 117, 40, 0.5);
$color_secondary_dark: #F5E3BD;
$color_secondary_medium: #D6D5C7;
$color_secondary_light: #EEEDDE;

$fw_bold: 600;
$fw_semiBold: 500;
$fw_medium: 400;

$br_medium: 12px;
$br_small: 10px;
