$color_default_dark: #1E1E1E;
$color_default_light: #FFFFFF;
$color_default_medium: rgba(30, 30, 30, 0.55);

$color_primary_dark: #F37528;
$color_primary_medium: rgba(243, 117, 40, 0.5);
$color_secondary_dark: #F5E3BD;
$color_secondary_medium: #D6D5C7;
$color_secondary_light: #EEEDDE;

$fw_black: 900;
$fw_extraBold: 800;
$fw_bold: 700;
$fw_semiBold: 600;
$fw_medium: 500;
$fw_regular: 400;
$fw_light: 300;
$fw_extraLight: 200;
$fw_thin: 100;

$br_medium: 12px;
$br_small: 10px;